<!DOCTYPE html>
<html>
<head>
  <title>Giriş Yap</title>
</head>
<body>
  <h1>Giriş Yap</h1>
  <form action="/giris" method="POST">
    <!-- Giriş formu alanları -->
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı"><br>
    <input type="password" name="sifre" placeholder="Şifre"><br>
    <button type="submit">Giriş Yap</button><br>
    <a href="/kayit" class="btn btn-primary">Kayıt Ol</a><br>
  </form>
</body>
</html>
