<!DOCTYPE html>
<html>
<head>
  <title>Kayıt Ol</title>
</head>
<body>
  <h1>Kayıt Ol</h1>
  <form action="/kayit" method="POST">
    <!-- Kayıt formu alanları -->
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı"><br>
    <input type="password" name="sifre" placeholder="Şifre"><br>
    <button type="submit">Kayıt Ol</button><br>
    <a href="/giris" class="btn btn-primary">Zaten Hesabın Var Mı?</a><br>
  </form>
</body>
</html>
