<!DOCTYPE html>
<html>
<head>
  <title>ADMİN</title>
</head>
<body>
  <h1>Admin Kayıt</h1>
  <form action="/adminKayit" method="POST">
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="Şifre"><br>
    <button type="submit">Kayıt Ol</button><br>
    <h1>Giriş Yap</h1><br>
  <form action="/admingiris" method="POST">
    <!-- Giriş formu alanları -->
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="Şifre"><br>
    <button type="submit">Giriş Yap</button><br>
  </form>
</body>
</html>
