<!DOCTYPE html>
<html>
<head>
  <title>Kayıt Ol</title>
</head>
<body>
  <h1>Kayıt Ol</h1>
  <form action="/kayit" method="POST">
    <!-- Kayıt formu alanları -->
    <input type="text" name="username" placeholder="Kullanıcı Adı"><br>
    <input type="text" name="gender" placeholder="Cinsiyet"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="text" name="phone" placeholder="Telefon"><br>
    <input type="password" name="password" placeholder="Şifre"><br>
    <button type="submit">Kayıt Ol</button><br>
    <a href="/login" class="btn btn-primary">Zaten Hesabın Var Mı?</a><br>
  </form>
</body>
</html>
