<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js Derleri</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <h1>Node Blog</h1>
        <ul>
            <li><a href="/index">Ana Sayfa</a></li>
            <li><a href="/hakkimizda">Hakkımızda</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
    </nav>
    <script src="server.js"></script>
</body>
</html>